﻿@media only screen and (min-width:0px) and (max-width:767px) {
    #contdesImage {
        background-color: red;
        display: flex;
        width: 100%;
    }
    #contdesImage {
        margin-right: 1%;
        display: grid;
        grid-template-columns: auto auto;
    }
    #contdesImage #images {
        display: flex;
        flex-direction: column;
    }
    #limage {
        float: right;
        margin: 2%;
        padding: 1%;
    }
    #description1 {
        color: white;
        text-align: center;
        background-color: rgb(114, 117, 111);
        width: 100%;
    }
    #description2 {
        background-color: darkorange;
        margin: 0.5%;
    }
    .imgselect {
        width: 5%;
        height: 100px;
        width: 100px;
        margin: 3%;
        transform: scale(1);
        transition: .3s ease-in-out;
    }
    #contdesImage #images:hover img {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    .laclassesection {
        display: flex;
    }
    #description1 p {
        margin: 10%;
    }
    #sub {
        width: 40%;
        padding: 3%;
        background-color: aqua;
        text-decoration: none;
        margin: 15%;
    }
    input {
        height: 50px;
        width: 70px;
    }
    #limage img {
        border: 2px solid white;
        border-radius: 25px;
        height: 100%;
        width: 100%;
    }
    .laclassesection {
        display: grid;
        grid-template-columns: auto;
    }
    body {
        background-color: black;
    }
    main {
        display: grid;
        grid-template-columns: auto;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
}

@media only screen and (min-width:768px) and (max-width:1279px) {
    body {
        background-color: black;
    }
    main {
        display: grid;
        grid-template-columns: auto;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
    #contdesImage {
        background-color: red;
        display: flex;
        width: 60%;
    }
    #contdesImage {
        margin-right: 1%;
        display: grid;
        grid-template-columns: auto auto;
    }
    #contdesImage #images {
        display: flex;
        flex-direction: column;
    }
    #limage {
        margin: 2%;
        padding: 1%;
    }
    #description1 {
        color: white;
        text-align: center;
        background-color: rgb(114, 117, 111);
        width: 40%;
    }
    #description2 {
        background-color: darkorange;
        margin: 0.5%;
    }
    .imgselect {
        height: 100px;
        width: 100px;
        margin: 3%;
        transform: scale(1);
        transition: .3s ease-in-out;
    }
    #contdesImage #images:hover img {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    .laclassesection {
        display: flex;
    }
    #description1 p {
        margin: 10%;
    }
    #sub {
        width: 40%;
        padding: 3%;
        background-color: aqua;
        text-decoration: none;
        margin: 15%;
    }
    input {
        height: 50px;
        width: 70px;
    }
    #limage img {
        border: 2px solid white;
        border-radius: 25px;
        height: 100%;
        width: 100%;
    }
    #images {
        margin: auto;
    }
}

@media only screen and (min-width:1280px) {
    body {
        background-color: black;
    }
    main {
        display: grid;
        grid-template-columns: auto;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
    #contdesImage {
        background-color: red;
        display: flex;
        width: 60%;
    }
    #contdesImage {
        margin-right: 1%;
        display: grid;
        grid-template-columns: auto auto;
    }
    #contdesImage #images {
        display: flex;
        flex-direction: column;
    }
    #limage {
        margin: 2%;
        padding: 1%;
    }
    #description1 {
        color: white;
        text-align: center;
        background-color: rgb(114, 117, 111);
        width: 40%;
    }
    #description2 {
        background-color: darkorange;
        margin: 0.5%;
    }
    .imgselect {
        height: 100px;
        width: 100px;
        margin: 3%;
        transform: scale(1);
        transition: .3s ease-in-out;
    }
    #contdesImage #images:hover img {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    .laclassesection {
        display: flex;
    }
    #description1 p {
        margin: 10%;
    }
    #sub {
        width: 40%;
        padding: 3%;
        background-color: aqua;
        text-decoration: none;
        margin: 15%;
    }
    input {
        height: 50px;
        width: 70px;
    }
    #limage img {
        border: 2px solid white;
        border-radius: 25px;
        height: 100%;
        width: 100%;
    }
    #images {
        margin: auto;
    }
}