@media only screen and (min-width:1280px) {
    /*HEADER*/
    .nav-menu {
        display: flex;
        width: 80%;
    }
    .nav-seach {
        display: flex;
        width: 25%
    }
    .nav-seach:hover {
        transform: scale(1.5);
    }
    #search {
        background-color: black;
        border-top: #000;
        border-left: black;
        border-bottom: 1px solid white;
        color: white;
        width: 70%;
        border-radius: 10px;
        height: 50px;
    }
    #button {
        width: 20%;
        height: 50px;
    }
    .nav {
        width: 100%;
        height: 70px;
        padding-top: 20px;
        display: flex;
    }
    .nav .logo {
        width: 150px;
        height: 20px;
        margin-bottom: 0px;
    }
    .nav .logo .header-logo {
        width: 100%;
    }
    .nav .logo a #logo1 {
        height: 70px;
        width: 60%;
        border-radius: 30px;
    }
    #header-logo {
        width: 100%;
    }
    .nav .nav-menu {
        width: 60%;
        height: 40px;
        border-bottom: 1px solid white;
    }
    .nav-menu a {
        margin-right: 1%;
        margin-left: 1%;
        text-decoration: none;
        margin-bottom: 20px;
        color: white;
        font-size: 100%;
        letter-spacing: 1px;
        padding: 2% 3% 2% 3%;
        border-radius: 10px;
    }
    .nav-menu a:hover {
        border-bottom: 2px soli blue;
        border-top: 2px solid blue;
        color: black;
        background-color: lightgrey;
    }
    .nav-menu a:active {
        color: green;
    }
    .nav-menu a:visited {
        color: red;
    }
    .header {
        display: flex;
        padding-top: 8px;
        height: 50px;
        width: 100%;
        border-bottom: 1px solid white;
        box-shadow: 1px 2px 2.5px white;
        border-radius: 20px
    }
    .header .header-form {
        float: right;
        height: 40px;
        width: 90%;
        position: relative;
    }
    .header .header-form .lang-compte {
        float: right;
        width: 100%;
        padding-top: 7px;
    }
    #compte {
        float: right;
        margin: 0% 5% 0% 5%;
        border-right: 1px solid white;
        padding-right: 5%;
        text-decoration: none;
        color: white;
    }
    #lang {
        float: right;
        margin: 0% 5% 0% 5%;
        padding-left: .2%;
        background-color: #000;
        color: white;
        border-color: black
    }
    .header #panier {
        width: 50px;
        margin-right: 1%;
        float: right;
        height: 35px;
    }
    /*FIN HEADER*/
    font-face {
        font-family: 'Magnificent Personal Use';
        src: url('font/magnificent-personal-use/MagnificentPersonalUse.eot');
        src: url('font/magnificent-personal-use/MagnificentPersonalUse.eot?#iefix') format('embedded-opentype'), url('font/magnificent-personal-use/MagnificentPersonalUse.woff2') format('woff2'), url('font/magnificent-personal-use/MagnificentPersonalUse.woff') format('woff'), url('font/magnificent-personal-use/MagnificentPersonalUse.ttf') format('truetype'), url('font/magnificent-personal-use/MagnificentPersonalUse.svg#MagnificentPersonalUse') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    body {
        background-color: black;
        width: 100%;
    }
    /* ANIMATION 3D*/
    .slideshow {
        margin: 0 auto;
        height: 300px;
        width: 60%;
        margin-bottom: 25px;
        box-sizing: border-box;
        background-color: rgb(67, 70, 70);
        border-radius: 30px 180px;
    }
    .content {
        margin: auto;
        width: 15%;
        perspective: 1000px;
        position: relative;
        padding-top: 80px;
    }
    .content-carrousel {
        width: 100%;
        position: absolute;
        float: right;
        animation: rotar 15s infinite linear;
        animation-delay: 1s;
        animation-duration: 35s;
        /*ralentir ou accelerer l'animation*/
        transform-style: preserve-3d;
    }
    .content-carrousel:hover {
        animation-play-state: paused;
        cursor: pointer;
    }
    .content-carrousel img {
        width: 100%;
        height: 120px;
        overflow: hidden;
        border: 1px solid black;
        position: absolute;
    }
    .content-carrousel figure:nth-child(1) {
        transform: rotateY(-20deg) translateZ(300px)
    }
    .content-carrousel figure:nth-child(2) {
        transform: rotateY(20deg) translateZ(300px)
    }
    .content-carrousel figure:nth-child(3) {
        transform: rotateY(60deg) translateZ(300px)
    }
    .content-carrousel figure:nth-child(4) {
        transform: rotateY(100deg) translateZ(300px)
    }
    .content-carrousel figure:nth-child(5) {
        transform: rotateY(140deg) translateZ(300px)
    }
    .content-carrousel figure:nth-child(6) {
        transform: rotateY(180deg) translateZ(300px)
    }
    .content-carrousel figure:nth-child(7) {
        transform: rotateY(220deg) translateZ(300px)
    }
    .content-carrousel figure:nth-child(8) {
        transform: rotateY(260deg) translateZ(300px)
    }
    .content-carrousel figure:nth-child(9) {
        transform: rotateY(300deg) translateZ(300px)
    }
    .content-carrousel figure:nth-child(10) {
        transform: rotateY(300deg) translateZ(300px)
    }
    .shadow {
        box-shadow: 0px 0px 40px 0px #000;
        border-radius: 4px;
        margin: 2px;
    }
    .content-carrousel img {
        image-rendering: auto;
        transition: all 300ms;
        box-shadow: 0px 0px 10px 0px #000;
        border-radius: 8px;
        margin: 1px;
    }
    .content-carrousel img:hover {
        transform: scale(1.5);
        transition: all 300ms;
        /*transform: rotate(360deg)*/
    }
    @keyframes rotar {
        from {
            transform: rotateY(0deg);
        }
        to {
            transform: rotateY(360deg);
        }
    }
    /* message sur aside : Les preferes*/
    main {
        width: 100%;
    }
    .section-articles-acceuil {
        width: 80%;
        margin: auto;
        display: flex;
    }
    .section-art {
        width: 60%;
        height: 400px;
    }
    .section-articleg1 {
        width: 100%;
        display: flex;
    }
    /*Toutes les images des produits de l'accueil*/
    .images-accueil {
        width: 33%;
        margin: 0% 5% 0% 5%;
    }
    .images-accueil:hover {
        opacity: 0.5;
    }
    /* bouton details du produits*/
    .button-detail-produits {
        width: 100%;
        border-radius: 15px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .button-detail-produits:hover {
        transform: scale(1.5);
        border-radius: 5px;
        background-color: rgb(255, 0, 119);
    }
    /*fin*/
    .section-articleg2 {
        width: 100%;
        padding-top: 25%;
        display: flex;
    }
    section img {
        width: 100%;
        padding-right: 10%;
        height: 100%;
        border-radius: 20px;
    }
    .section-video {
        width: 40%;
        height: 700px;
        margin-right: 5%;
    }
    .section-video video {
        width: 100%;
        height: 100%;
    }
    .section-video video:hover {
        opacity: 0.5;
    }
    /*h1 nouveau produit du mois*/
    #nouveau {
        color: white;
        text-align: center;
        font-family: 'Magnificent Personal Use';
        width: 100%;
        font-size: 500%;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    .nouveau-produit {
        display: flex;
        width: 90%;
        margin: 5%;
    }
    .nouveau-produit article {
        width: 100%;
        margin: 2%;
    }
    /*FOOTER*/
    .conteneur-bouton-haut-page {
        width: 80%;
        margin: auto;
        padding: 50px;
    }
    #haut-page {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        margin-left: 50%;
        margin-top: 20px;
    }
    /*Liens vers les reseaux sociaux*/
    div .fa {
        padding: 10px;
        font-size: 20px;
        width: 30px;
        text-align: center;
        text-decoration: none;
    }
    div .fa-facebook {
        color: white;
    }
    div .fa-twitter {
        color: white;
    }
    div .fa-youtube {
        color: white;
    }
    .footer {
        display: flex;
        width: 100%;
        margin: 0 auto;
    }
    .footer-nav1 {
        width: 20%;
    }
    .nav-footer {
        width: 100%;
        margin-block-start: 0em;
        margin-block-end: 0em;
        padding-inline-start: 40%;
    }
    .nav-footer2 {
        width: 80%;
        margin-block-start: 0em;
        margin-block-end: 0em;
        padding-inline-start: 10%;
    }
    .footer-adresse {
        width: 25%;
    }
    .maps {
        width: 20%;
    }
    .reseau-sociaux-conteneur {
        width: 10%;
    }
    .reseau-sociaux {
        width: 50%;
    }
    .maps iframe {
        width: 70%;
        height: 75%;
    }
    #fb {
        width: 35px;
        height: 35px;
        padding-bottom: 20%;
    }
    #tw {
        width: 35px;
        height: 35px;
        padding-bottom: 20%;
    }
    #yt {
        width: 35px;
        height: 35px;
        padding-bottom: 20%;
    }
    ul li {
        list-style: none;
        padding: 5px;
    }
    .nav-footer2 a, .nav-footer a {
        text-decoration: none;
    }
}

@media only screen and (min-width:768px) and (max-width:1279px) {
    font-face {
        font-family: 'Magnificent Personal Use';
        src: url('font/magnificent-personal-use/MagnificentPersonalUse.eot');
        src: url('font/magnificent-personal-use/MagnificentPersonalUse.eot?#iefix') format('embedded-opentype'), url('font/magnificent-personal-use/MagnificentPersonalUse.woff2') format('woff2'), url('font/magnificent-personal-use/MagnificentPersonalUse.woff') format('woff'), url('font/magnificent-personal-use/MagnificentPersonalUse.ttf') format('truetype'), url('font/magnificent-personal-use/MagnificentPersonalUse.svg#MagnificentPersonalUse') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    body {
        background-color: black;
        width: 100%;
    }
    /*
HEADER
*/
    .nav-menu {
        display: grid;
        grid-template-columns: auto auto;
        width: 80%;
    }
    .nav-seach {
        display: flex;
        width: 30%;
    }
    .nav-seach:hover {
        transform: scale(1.5);
    }
    #search {
        background-color: black;
        border-top: #000;
        border-left: black;
        color: white;
        width: 60%;
        border-radius: 10px;
        height: 50px;
    }
    #button {
        width: 20%;
        height: 50px;
        margin-right: 5px;
    }
    .nav {
        width: 100%;
        height: 70px;
        padding-top: 20px;
        padding-left: 15%;
        display: flex;
        margin: auto;
        margin-bottom: 60px;
    }
    .nav .logo {
        width: 120px;
        height: 20px;
    }
    .nav .logo .header-logo {
        width: 100%;
    }
    .nav .logo a #logo1 {
        height: 70px;
        width: 60%;
        border-radius: 30px;
    }
    #header-logo {
        width: 100%;
    }
    #logo1 {
        width: 300%;
    }
    .nav .nav-menu {
        width: 40%;
        height: 40px;
    }
    .nav-menu a {
        margin-right: 1%;
        margin-left: 1%;
        text-decoration: none;
        margin-bottom: 15px;
        color: white;
        font-size: 80%;
        letter-spacing: 1px;
        padding: 2% 3% 2% 3%;
        border-radius: 10px;
    }
    .nav-menu a:hover {
        border-bottom: 2px solid blue;
        border-top: 2px solid blue;
        background-color: lightgrey;
    }
    .nav-menu a:active {
        color: green;
    }
    .nav-menu a:visited {
        color: red;
    }
    .header {
        display: flex;
        margin: auto;
        padding-top: 8px;
        height: 50px;
        width: 60%;
        border-bottom: 1px solid white;
        box-shadow: 1px 2px 2.5px white;
        border-radius: 20px
    }
    .header .header-form {
        float: right;
        height: 40px;
        width: 90%;
        position: relative;
    }
    .header .header-form .lang-compte {
        float: right;
        width: 100%;
        padding-top: 7px;
    }
    #compte {
        float: right;
        margin: 0% 5% 0% 5%;
        border-right: 1px solid white;
        padding-right: 5%;
        text-decoration: none;
        color: white;
    }
    #lang {
        float: right;
        margin: 0% 5% 0% 5%;
        padding-left: .2%;
        background-color: #000;
        color: white;
        border-color: black
    }
    .header #panier {
        width: 50px;
        margin-right: 1%;
        float: right;
        height: 35px;
    }
    /* Diaparoma images Asisde*/
    @keyframes AutoSlide {
        0% {
            left: 0px;
        }
        5% {
            left: 0px;
        }
        10% {
            left: -480px;
        }
        15% {
            left: -480px;
        }
        20% {
            left: -960px;
        }
        25% {
            left: -960px;
        }
        30% {
            left: -1440px;
        }
        35% {
            left: -1440px;
        }
        40% {
            left: -1920px;
        }
        45% {
            left: -1920px;
        }
        50% {
            left: -2400px;
        }
        55% {
            left: -2400px;
        }
        60% {
            left: -2880px;
        }
        65% {
            left: -2880px;
        }
        70% {
            left: -3360px;
        }
        75% {
            left: -3360px;
        }
        80% {
            left: -3840px;
        }
        85% {
            left: -4320px;
        }
        90% {
            left: -4320px;
        }
        95% {
            left: -4800px;
        }
        100% {
            left: -4800px;
        }
    }
    .slideshow {
        width: 480px;
        margin: auto;
        height: 300px;
        margin-bottom: 40px;
        border-radius: 20px;
    }
    .content {
        width: 480px;
        /*largeur de la boite de defilement des images*/
        /*centrage du slider*/
        overflow: hidden;
        /*cacher les autres images*/
        height: 300px;
        border-radius: 40px;
    }
    .content-carrousel {
        position: relative;
        width: 4800px;
        animation-name: AutoSlide;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        ;
    }
    figure {
        display: block;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    .content-carrousel img {
        float: left;
        width: 10%;
        height: 300px;
    }
    .content-carrousel img:hover {
        opacity: 1.5;
    }
    .section-articles-acceuil {
        width: 80%;
        margin: auto;
    }
    .section-art {
        width: 100%;
    }
    .section-articleg1 {
        width: 80%;
        height: 200px;
        display: grid;
        grid-template-columns: auto auto auto;
        margin: auto;
    }
    /*Toutes les images des produits de l'accueil*/
    .images-accueil {
        display: inline;
    }
    .images-accueil:hover {
        opacity: 0.5;
    }
    /* bouton details du produits*/
    .button-detail-produits {
        width: 50%;
        margin-left: 15%;
        border-radius: 15px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .button-detail-produits:hover {
        transform: scale(1);
        border-radius: 5px;
        background-color: rgb(255, 0, 119);
    }
    /*fin*/
    .section-articleg2 {
        width: 80%;
        height: 350px;
        display: grid;
        grid-template-columns: auto auto auto;
        margin: auto;
    }
    .section-art img {
        width: 50%;
        margin-left: 15%;
        height: 50%;
        border-radius: 20px;
    }
    .nouveau-produit img {
        width: 50%;
        margin-left: 15%;
        height: 50%;
        border-radius: 20px;
    }
    section p {
        margin-left: 15%;
    }
    .section-articleg1 .images-accueil {
        width: 100%;
    }
    .section-video {
        width: 40%;
        height: 150px;
        margin: auto;
    }
    .section-video video {
        width: 100%;
    }
    .section-video video:hover {
        opacity: 0.5;
    }
    /*h1 nouveau produit du mois*/
    #nouveau {
        color: white;
        text-align: center;
        font-family: 'Magnificent Personal Use';
        width: 100%;
        font-size: 300%;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    .nouveau-produit {
        display: grid;
        grid-template-columns: auto auto;
        margin: auto;
        margin-left: 20%;
        width: 60%;
    }
    .nouveau-produit article {
        width: 100%;
        margin: 2%;
    }
    /*FOOTER*/
    .conteneur-bouton-haut-page {
        width: 60%;
        margin: auto;
        padding: 50px;
    }
    #haut-page {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        margin-left: 50%;
        margin-top: 20px;
    }
    /*Liens vers les reseaux sociaux*/
    div .fa {
        padding: 10px;
        font-size: 20px;
        width: 30px;
        text-align: center;
        text-decoration: none;
    }
    div .fa-facebook {
        color: white;
    }
    div .fa-twitter {
        color: white;
    }
    div .fa-youtube {
        color: white;
    }
    .footer {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        width: 60%;
        margin-left: 30%;
        margin: 0 auto;
    }
    .footer-nav1 {
        width: 20%;
    }
    .nav-footer {
        width: 100%;
        margin-block-start: 0em;
        margin-block-end: 0em;
        padding-inline-start: 40%;
    }
    .nav-footer2 {
        width: 80%;
        margin-block-start: 0em;
        margin-block-end: 0em;
        padding-inline-start: 10%;
        margin: auto;
    }
    .footer-adresse {
        width: 25%;
        margin: auto;
    }
    .maps {
        width: 60%;
        height: 100px;
    }
    .reseau-sociaux-conteneur {
        width: 10%;
    }
    .reseau-sociaux {
        width: 50%;
    }
    .maps iframe {
        width: 70%;
        height: 75%;
    }
    #fb {
        width: 35px;
        height: 35px;
        padding-bottom: 20%;
    }
    #tw {
        width: 35px;
        height: 35px;
        padding-bottom: 20%;
    }
    #yt {
        width: 35px;
        height: 35px;
        padding-bottom: 20%;
    }
    ul li {
        list-style: none;
        padding: 5px;
    }
    .nav-footer2 a, .nav-footer a {
        text-decoration: none;
    }
}

@media only screen and (min-width:0px) and (max-width:767px) {
    font-face {
        font-family: 'Magnificent Personal Use';
        src: url('font/magnificent-personal-use/MagnificentPersonalUse.eot');
        src: url('font/magnificent-personal-use/MagnificentPersonalUse.eot?#iefix') format('embedded-opentype'), url('font/magnificent-personal-use/MagnificentPersonalUse.woff2') format('woff2'), url('font/magnificent-personal-use/MagnificentPersonalUse.woff') format('woff'), url('font/magnificent-personal-use/MagnificentPersonalUse.ttf') format('truetype'), url('font/magnificent-personal-use/MagnificentPersonalUse.svg#MagnificentPersonalUse') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    body {
        background-color: black;
        width: 100%;
    }
    /* message sur aside : Nouveaux produits du mois*/
    .nav-menu {
        display: grid;
        margin: 0px;
        grid-template-columns: auto;
        width: 60%;
    }
    .nav-seach {
        display: flex;
        width: 20%;
    }
    .nav-seach:hover {
        transform: scale(1.5);
    }
    #search {
        background-color: black;
        border-top: #000;
        border-left: black;
        color: white;
        width: 60%;
        border-radius: 10px;
        height: 30px;
    }
    #button {
        width: 25%;
        height: 30px;
        margin-right: 5px;
        border-radius: 30px;
    }
    .nav {
        width: 100%;
        height: 50px;
        padding-top: 20px;
        padding-left: 50px;
        display: flex;
        margin-bottom: 80px;
        margin-left: 50px;
    }
    .nav .logo {
        width: 80px;
        height: 10px;
        margin-bottom: 0px;
        transform: scale(1);
        transition: .3s ease-in-out;
    }
    .logo:hover img {}
    .nav .logo .header-logo {
        width: 100%;
    }
    .nav .logo a #logo1 {
        height: 70px;
        width: 60%;
        border-radius: 30px;
    }
    #header-logo {
        width: 100%;
    }
    #logo1 {
        width: 300%;
    }
    /*
#logo1:hover {
    transform: scale(1.5);
    transform: rotate(deg)
    
}
*/
    .nav .nav-menu {
        width: 20%;
    }
    .nav-menu a {
        margin-right: 1%;
        margin-left: 1%;
        text-decoration: none;
        margin-bottom: 5px;
        color: white;
        font-size: 70%;
        letter-spacing: 1px;
        padding: 2% 3% 2% 3%;
        border-radius: 10px;
    }
    .nav-menu a:hover {
        border-bottom: 2px solid blue;
        border-top: 2px solid blue;
        background-color: lightgrey;
    }
    .nav-menu a:active {
        color: green;
    }
    .nav-menu a:visited {
        color: red;
    }
    .header {
        display: flex;
        margin-left: 60px;
        padding-top: 8px;
        height: 50px;
        width: 80%;
        background-color: black;
        border-bottom: 1px solid white;
        border-radius: 20px
    }
    .header .header-form {
        float: right;
        height: 20px;
        width: 90%;
        position: relative;
    }
    .header .header-form .lang-compte {
        float: right;
        width: 100%;
        padding-top: 7px;
    }
    #compte {
        float: left;
        margin: 0% 5% 0% 5%;
        border-right: 1px solid white;
        padding-right: 10%;
        font-size: 15px;
        text-decoration: none;
        color: white;
    }
    #lang {
        float: right;
        background-color: #000;
        color: white;
        border-color: black
    }
    .header #panier {
        width: 40px;
        margin-right: 1%;
        float: right;
        height: 30px;
    }
    /* Diaparoma images Asisde*/
    @keyframes AutoSlide {
        0% {
            left: 0px;
        }
        5% {
            left: 0px;
        }
        10% {
            left: -480px;
        }
        15% {
            left: -480px;
        }
        20% {
            left: -960px;
        }
        25% {
            left: -960px;
        }
        30% {
            left: -1440px;
        }
        35% {
            left: -1440px;
        }
        40% {
            left: -1920px;
        }
        45% {
            left: -1920px;
        }
        50% {
            left: -2400px;
        }
        55% {
            left: -2400px;
        }
        60% {
            left: -2880px;
        }
        65% {
            left: -2880px;
        }
        70% {
            left: -3360px;
        }
        75% {
            left: -3360px;
        }
        80% {
            left: -3840px;
        }
        85% {
            left: -4320px;
        }
        90% {
            left: -4320px;
        }
        95% {
            left: -4800px;
        }
        100% {
            left: -4800px;
        }
    }
    .slideshow {
        width: 480px;
        margin: auto;
        height: 300px;
        margin-bottom: 40px;
    }
    .content {
        width: 480px;
        /*largeur de la boite de defilement des images*/
        /*centrage du slider*/
        overflow: hidden;
        /*cacher les autres images*/
        height: 300px;
        border-radius: 40px;
    }
    .content-carrousel {
        position: relative;
        width: 4800px;
        animation-name: AutoSlide;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        border-radius: 40px;
    }
    figure {
        display: block;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    .content-carrousel img {
        float: left;
        width: 10%;
        height: 300px;
        border-radius: 40px;
    }
    .section-articles-acceuil {
        width: 100%;
    }
    .section-art {
        width: 100%;
        height: 1800px;
        ;
        padding-bottom: 100px;
    }
    .section-art article {
        height: 200px;
    }
    .section-art article img {
        height: 85%;
    }
    .section-articleg1 {
        width: 100%;
        height: 1000px;
        display: grid;
        grid-template-columns: auto;
        margin-left: 14%;
    }
    .section-articleg2 {
        width: 100%;
        height: 900px;
        display: grid;
        grid-template-columns: auto;
        margin-left: 14%;
    }
    /*Toutes les images des produits de l'accueil*/
    .images-accueil {
        display: inline;
    }
    .images-accueil:hover {
        opacity: 0.5;
    }
    /* bouton details du produits*/
    .button-detail-produits {
        width: 50%;
        margin-left: 15%;
        border-radius: 15px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .button-detail-produits:hover {
        transform: scale(1);
        border-radius: 5px;
        background-color: rgb(255, 0, 119);
    }
    /*fin*/
    .section-art img {
        width: 50%;
        margin-left: 15%;
        height: 50%;
        border-radius: 20px;
    }
    .nouveau-produit img {
        width: 50%;
        margin-left: 15%;
        height: 50%;
        border-radius: 20px;
    }
    section p {
        margin-left: 15%;
    }
    .section-articleg1 .images-accueil {
        width: 100%;
    }
    .section-video {
        width: 100%;
        height: 150px;
        margin: auto;
    }
    .section-video video {
        width: 80%;
        margin-left: 10%;
        margin-right: 15%;
    }
    .section-video video:hover {
        opacity: 0.5;
    }
    /*h1 nouveau produit du mois*/
    #nouveau {
        color: white;
        font-family: 'Magnificent Personal Use';
        text-align: center;
        padding-bottom: 50px;
        margin: auto;
        width: 100%;
        font-size: 150%;
    }
    .nouveau-produit {
        display: grid;
        grid-template-columns: auto;
        margin: auto;
        margin-left: 14%;
        width: 100%;
    }
    .nouveau-produit article {
        width: 100%;
        height: 300px;
    }
    /*FOOTER*/
    .conteneur-bouton-haut-page {
        width: 60%;
        margin: auto;
        padding: 50px;
    }
    #haut-page {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        margin-left: 50%;
        margin-top: 20px;
    }
    /*Liens vers les reseaux sociaux*/
    div .fa {
        padding: 10px;
        font-size: 20px;
        width: 30px;
        text-align: center;
        text-decoration: none;
    }
    div .fa-facebook {
        color: white;
    }
    div .fa-twitter {
        color: white;
    }
    div .fa-youtube {
        color: white;
    }
    .footer {
        display: grid;
        grid-template-columns: auto auto auto;
        margin-left: 5%;
        width: 100%;
    }
    .footer-nav1 {
        width: 15%;
    }
    .nav-footer {
        width: 100%;
    }
    .nav-footer2 {
        width: 80%;
    }
    .footer-adresse {
        width: 25%;
        padding-top: 20px;
    }
    .maps {
        width: 100%;
        margin-left: 20%;
        height: 100px;
    }
    .reseau-sociaux-conteneur {
        width: 10%;
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .reseau-sociaux {
        width: 50%;
    }
    .maps iframe {
        width: 70%;
        height: 75%;
    }
    #fb {
        width: 35px;
        height: 35px;
        padding-bottom: 20%;
    }
    #tw {
        width: 35px;
        height: 35px;
        padding-bottom: 20%;
    }
    #yt {
        width: 35px;
        height: 35px;
        padding-bottom: 20%;
    }
    ul li {
        list-style: none;
        padding: 5px;
    }
    .nav-footer2 a, .nav-footer a {
        text-decoration: none;
    }
}