.conteneur_principal {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
}

.conteneur_gauche {
    width: 100%;
}

.conteneur_droite {
    width: 50%;
}

body {
    width: 100%;
    background-color: black;
}

label {
    color: black;
    margin-left: 15%;
    width: 40%;
}

legend {
    color: black;
}

fieldset {
    width: 60%;
    margin: auto;
    border: 2px solid black;
    background-color: gray;
    border-radius: 30px;
}

.message:nth-child(2) {
    float: left;
    width: 100%;
}

.select {
    width: 100%;
}

textarea {
    width: 100%;
}

div .produit {
    margin-left: 0px;
}

input[type="submit"] {
    margin: 0 auto;
    margin: 0 40% 0 40%;
    padding: 20px;
    width: 150px;
    background-color: aqua
}

input[class="input-form"] {
    float: right;
    margin-right: 25%;
    width: 40%;
}

#firstName {
    float: right;
}

/*form {
    margin: auto;
    width: 80%;
}

.conteneur_gauche {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    font-size: 20px;
    padding: 30px;
    background-color: grey;
}

.civilite1 {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
}

label {
    display: inline-block;
    text-align: right;
    margin-right: 10px;
    width: 150px;
    padding: 20px;
}

textarea input {
    width: 200px;
    padding-bottom: 50px;
}

.envoyer input {
    margin: 20px;
    padding: 10px;
    font-size: 18px;
    width: 100px;
}

:valid .nom input, .prenom input {
    box-shadow: 0 0 2px 1px green;
}

:invalid .prenom input, .nom input {
    box-shadow: 0 0 2px 1px red;
}

.prenom input, .nom input, .age input {
    height: 50px;
    border-radius: 25px;
    text-align: center;
    height: 50px;
}

.phone input, .mail input {
    height: 50px;
    border-radius: 25px;
    text-align: center;
    height: 50px;
}

.message {
    margin-top: 10px;
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
    form {
        display: grid;
        grid-template-columns: auto;
    }
}

@media only screen and (min-width:0px) and (max-width:767px) {
    /*
        ICI ON MET LES STYLES DE LA VERSION DESKTOP.
        Dans ce cas-ci, taille redimensionnée à 70% et couleur de fond bleue dès que la largeur de l’écran passe au dessus de 992px
   
    form {
        display: grid;
        grid-template-columns: auto;
    }
}
 */